@model EntityLayer.Concrete.Category

@{
    ViewData["Title"] = "EditCategory";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-12">
    <div class="ibox ">
        <div class="ibox-title">
            <h5>Kategori Düzenle</h5>
        </div>
        <div class="ibox-content">
            <form method="post">
                @Html.HiddenFor(x => x.CategoryId)
                @Html.HiddenFor(x=>x.CategoryStatus)
                <div class="form-group  row">
                    <label class="col-sm-2 col-form-label">Kategori Adı</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="hr-line-dashed"></div>

                <div class="form-group  row">
                    <label class="col-sm-2 col-form-label">Kategori İkon</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.CategoryIcon, new { @class = "form-control" })
                    </div>
                </div>
                <div class="hr-line-dashed"></div>

                <div class="form-group  row">
                    <label class="col-sm-2 col-form-label">Açıklama</label>
                    <div class="col-sm-5">
                        @Html.TextAreaFor(x => x.CategoryDescription,6,10, new { @class = "form-control" })
                    </div>
                </div>
                <div class="hr-line-dashed"></div>


                <div class="form-group row">
                    <div class="col-sm-4 col-sm-offset-2">
                        <button class="btn btn-primary btn-sm" type="submit">Düzenle</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

